# For Loop Practice Questions
Print first 10 even numbers

In [1]:
for i in range(2,21):
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [2]:
#first 10 odd numbers
for i in range(1,20):
    if i%2!=0:
        print(i)
    i=i+1

1
3
5
7
9
11
13
15
17
19

In [10]:
#first 10 even numbers in reverse order
for i in range(20,1,-1): #decrement by 1
    if i%2==0:
        print(i)

20
18
16
14
12
10
8
6
4
2

In [15]:
#Print table of a number accepted from user
num = int(input("Enter number of table multiplication: "))
print("The number is: ", num)
for i in range(1,11):
    print(f"{num} * {i} = {num * i} ")

Enter number of table multiplication:  6

The number is:  6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [17]:
#Factorial of a number
num =int(input("Enter a number: "))
fact =1
for i in range(1, num+1):
    fact=fact * i
print("The factorial of a number is: ",fact)

Enter a number:  5

The factorial of a number is:  120

# Today's Question

In [18]:
#print numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#print the square of numbers from 1 to 5
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [20]:
#take word from user and print each letter on a new line
word=input("Please enter a word.")
for i in word:
    print(i)

Please enter a word. Hello

H
e
l
l
o

In [21]:
#print number from 2 to 20
for i in range(2,21,2):  #Increment by 2, 3rd value is representing jumps/steps
    print(i)

2
4
6
8
10
12
14
16
18
20

In [22]:
#print number from 2 to 20
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [23]:
#Sum of all odd numbers from 1 to 100
num=1
sum=0
while num<=100:
  if num%2!=0:
    sum=sum+num
  num=num+1
print(sum)

2500

In [ ]:
correct_num=7
guess_num=None
while guess_num!=correct_num:
    guess_num=int(input("Enter a guess numebr "))
    if guess_num==correct_num:
        print("You guessed right.")
        break
    else:
        print("You guessed wrong.")

In [ ]:
correct_pass = "python123"
guess_pass = None

while guess_pass != correct_pass:
    guess_pass = int(input("Enter your password. "))
    if guess_pass == correct_pass:
        print("Your password is matched.")
        break
    else:
        print("Wrong password. Try again.")